.detil_chart{
    position: relative;
    z-index: 0;
}
canvas{
    width: 100% !important;
    height: 100% !important;
}
.content_chart{
    padding-top: 19px;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}
.age_data{
    position: absolute;
    
    color: #2c2d30;
    line-height: 1.2;
    text-align: left;
}
.age_data.item1{
    top: 0;
    right: 20%;
}
.age_data.item4{
    top: 0;
    left: 27%;
}

.age_data .line path {
    fill: none;
    stroke: #999;
    stroke-width: 1;
    display: none;
}
.age_data.open .line path{
    display: block;
}
.age_data .num{
    display: inline-block;
}

.age_data.open .lineAB{ 
    stroke-dasharray: 1000;
    stroke-dashoffset: 600;
    animation: dash 3s linear;
    transition-property: stroke-dasharray;
  }
  @keyframes dash{
    from{
      stroke-dashoffset: 1000;
    }
    to{
      stroke-dashoffset: 600;
    }
  } 

.line{
    width: 30px;
    height: 68px;
    position: absolute;
}
.line.line1{
    left: 0;
}
.line.line2{
    right: 0;
}

.age_data .data_tag{
    font-size: 14px;
}
.age_data .data_num{
    font-size: 25px;
}
.age_data .unit{
    font-size: 80%;
}
.age_data.item2, .age_data.item3{
    color: #fff;
}
.age_data.item2{
    top: 50%;
    right: 20%;
}
.age_data.item3{
    top: 30%;
    left: 20%;
}
.age_data.item2 .data_tag, .age_data.item3 .data_tag{
    font-size: 20px;
    display: block;
}
.age_data.item2 .data_num, .age_data.item3 .data_num{
    font-size: 50px;
}



